.content {
  width: calc(100vw - 80px);
}
.header {
  background: $blue;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  a {
    color: #fff;
  }
}
.toolbar {
  ul {
    display: flex;
    align-items: center;
    li {
      padding-right: 1rem;
      a {
        font-size: 1rem;
      }
    }
  }

  .online {
    background: $green;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-bottom: 3px;
    &.not {
      background: $red;
    }
  }
}
.search_bar {
}
// 主內容
.main {
  height: calc(100vh - 60px);
  display: flex;
  background: #e7e7e7;
}

//==============左邊 主要資訊==============
.content_info {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
}
// 01 分類
.type_change {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  margin-bottom: 10px;
  .swiper_type {
    padding: 5px 0;
  }
  .item {
    color: #a7a7a7;
    text-align: center;
    display: block;
    padding: 0 5px;
    border-right: 1px solid rgb(228, 228, 228);
    img {
      width: 18%;
      opacity: 0.5;
    }
    p {
      font-size: 0.9rem;
    }
  }
  .item.active {
    p {
      color: $blue;
    }
    img {
      opacity: 1;
    }
  }
  &.no_image {
    background: none;
    box-shadow: none;
    img {
      display: none;
    }
    .item {
      background: #fff;
      margin: 0 10px;
      border-radius: 50px;
      p {
        font-size: 1.1rem;
        font-weight: bold;
      }
    }
    .item.active {
      background: $blue;
      p {
        color: #fff;
      }
    }
    .swiper-button-prev::after, .swiper-button-next::after {
      font-size: 1rem;
    }
  }
}
// 02 產品列表
.product_box {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  padding: 5px;
  background: #fff;
  height: 88%;
}
//列表

.product_list {
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 70%;
  .p_item {
    width: 20%;
    min-width: 100px;
    padding: 5px;
    .p_name {
      color: #fff;
      padding: 5px;
      border-radius: 5px;
    }
    &.active {
      .p_image {
        outline: 3px solid $blue;
      }
      .p_price {
        background: $blue;
      }
    }
  }
  .p_image {
    position: relative;
    height: 80px;
    background-image: url('../img/product/01-1.jpg');
    background-size: cover;
    margin-bottom: 5px;
    .p_price {
      position: absolute;
      left: 0;
      top: 0;
      color: #fff;
      background: $yellow;
      color: #fff;
      padding: 5px 10px;
      font-family: $font_price;
    }
    .p_name {
      font-size: 0.9rem;
    }
  }

  .p_code {
    color: rgb(96, 96, 96);
    font-family: $font_num;
    margin-top: 5px;
    font-size: 0.9em;
  }
  &.no_image {
    .p_image {
      background: none!important;
      height: auto;
      order: 2;
    }
    .p_price {
      position: static;
    }
    .p_item {
      width: 16.666%;
      display: flex;
      flex-direction: column;
      order: 1;
      .p_name {
        background: $blue;
        color: #fff;
        padding: 10px;
        font-size: 1.2rem;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px 5px 0 0;
      }
      .p_price {
        border-radius: 0 0 5px 5px;
        padding: 10px;
        text-align: center;
      }
      .p_code {
        order: 3;
        margin-top: 0;
      }
      &.active {
        .p_image {
          outline: none;
        }
        .p_name {
          border: 3px solid $red;
          color: #fff;
        }
        .p_price {
          background: $red;
        }
      }
    }
  }
}
//自選項目
.product_choose {
  overflow: scroll;
  height: 30%;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #eee;
}
.choose_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .form_title {
    margin-right: 30px;
    margin-bottom: 3px;
    color: #243038;
    flex-shrink: 0;
  }
  .choose_list {
    display: flex;
    flex-wrap: wrap;
  }
  .form_group {
    position: relative;
    margin-bottom: 5px;
    .form_label {
      background: #e8e8e8;
      color: #243038;
      padding: 5px 10px;
      margin-right: 10px;
    }
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &:checked {
        ~ .form_label {
          background: $blue;
          color: #fff;
        }
      }
    }
  }
}
//03 產品頁尾按鈕
.product_footer {
  padding: 15px;
  .btn {
    margin-bottom: 5px;
  }
}
.footer_price {
  width: 100px;
  text-align: right;
  margin-right: 20px;
  font-size: 26px;
  font-weight: bold;
  color: $blue;
}
.btn_line {
  font-weight: bold;
}
//==============右邊 購物車==============
.detail_info {
  width: 100%;
  padding: 10px;
}
.cart_box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  background: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
.cart_title {
  background: $blue;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  .invoice {
    font-weight: bold;
  }
  .clean_all {
    font-size: 0.8rem;
    opacity: 0.9;
  }
}
.cart_list {
  font-size: 0.9rem;
  overflow: scroll;
  ul {
    display: flex;
    align-items: center;
  }
  li {
    padding: 10px 5px;
    color: #4a4a4a;
  }
  .list_title {
    background: #243038;
    li {
      color: #f1f1f1;
    }
  }
  .list_item {
    border-bottom: 1px solid #f1f1f1;
    ul.active {
      background: #616f6f;
      border-bottom: 2px solid $yellow;
      color: #fff;
      li,
      a,span {
        color: #fff;
      }
    }
  }
  .delete {
    width: 1.5rem;
    flex-shrink: 0;
  }
  .name {
    width: 60%;
    p {
      display: none;
    }
  }
  .count {
    width: 5.7rem;
    flex-shrink: 0;
    text-align: center;
    white-space: nowrap;
  }
  .price {
    width: 20%;
  }
  .list_more {
    padding: 0 10px;
    background: #ececec;
    padding-left: 1.8rem;
    font-size: 0.85rem;
    span {
      padding: 10px 0;
      display: inline-block;
    }
    span:not(:last-child)::after {
      content: ',';
    }
  }
  &.cart_list_lg {
    font-size: 1.1rem;
  }
}

.select_num {
  margin-left: auto;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  .count_btn {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 100%;
    border: 1px solid $blue;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue!important;
  }
  span {
    margin: 0 8px;
    font-size: 1rem;
    font-family: $font_num;
    color: #2c2c2c;
  }
}
.cart_detail {
  background: #f8f8f8;
  color: #4a4a4a;
  margin-top: auto;
  font-size: 0.9rem;
  > li {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  p {
    font-family: $font_price;
  }
  .cart_checkout {
    display: flex;
    ul {
      width: 50%;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
      }
      span {
        font-family: $font_tw;
      }
    }
    .btn {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      border-radius: 0 7px 7px 0;
      cursor: pointer;
      span,
      h3 {
        font-size: 1.5rem;
        margin: 0 auto;
      }
      h3 {
        margin-bottom: 5px;
        font-family: $font_price;
      }
      span {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}
.cart_footer {
  padding: 15px 0;
  a {
    padding: 9px 15px;
    width: 100%;
    text-align: center;
  }
}
.check_type {
  a {
    padding: 10px 15px;
    margin-bottom: 8px;
  }
}
